[submodule "src/common-biz/sys-setting-ui"]
	path = src/common-biz/sys-setting-ui
	url = ssh://git@10.12.0.79:222/gaia-ui/sys-settings-ui.git
	branch = dev-vite
# [submodule "src/edge-ui"]
# 	path = src/edge-ui
# 	url = ssh://git@10.12.0.79:222/gaia-ui/edge-ui.git
# 	branch = release/1.6.0
# [submodule "src/common-biz/data-asset-ui"]
# 	path = src/common-biz/data-asset-ui
# 	url = ssh://git@10.12.0.79:222/gaia-ui/data-asset-ui.git
# 	branch = release/1.1.1
